
li {
    list-style-type: none;
}
/*---------LEFT NAVIGATION-------*/
.logo{
    left: 15em;
    position: absolute;
}
.hamburguer a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

.hamburguer {
    float: left;
    padding: 8px;
    left: 10em;
    position: absolute;
}

nav {
    padding: 8px;
}

/*-----------RIGHT NAVIGATION----------*/
nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
    
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}


.nav-wrapper img {
    height: 20px;
    width: 22px;
    margin-right: 5px;
}
.nav-wrapper{
    top: 0px;
    position: absolute;
    right: 10em;
}

#center {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
}

/*------SLIDER--------*/

.slider-image img{
    position: absolute;
    float:inline-start;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 600px;
}
