/*-----PRICE------*/
.generic_price_tag {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.6px;
}
.generic_price_tag span{
    margin: 2px;
}
.generic_price_tag .price .cent{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    vertical-align: text-top;
}
.product-tray{
    color: #084154;
}
.product-tray .generic_price_tag .price{
    font-size: 55%;
    color: #084154;
}
.product-tray .generic_price_tag .price .cent{
    font-size: 55%;
}