@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.description{
    color: antiquewhite;
    padding: 10%;
}
.price{
    color: #3EC6E0;
}